* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family: 'Comfortaa', cursive;
    background:rgb(0, 0, 0);
  }

  .container{
    z-index: 0;
    color: rgb(255, 255, 255);
  }

  .name-text{
    width: 700px;
    text-align: center;
    max-height: 750px;
    margin: 0 auto;
    padding-top: 5%;
    overflow-y: scroll;
  }

  .FIO{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    animation: scroll 2s linear infinite;
  }

  .FIO:not(:last-child){
    margin-bottom: 30px;
  }

  .name-text::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
