*{
    margin: 0;
    padding: 0;
}

ul,li,a{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Comfortaa', cursive;
    background: white;
}

p{
    color: #333333;
}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 10;
}

.header{
    background: rgba(159, 0, 61, 0.7);
    height: inherit;
}

.container{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.header_content{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header_logo{
    display: flex;
    align-items: center;
}
.logo_img{
    width: 70px;
    margin: auto 0;
    height: 56px;
}

.img_Univer{
    background-image: url("../img/logo_Univer.png");
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
}

.logo_text{
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-left: 15px;
}

.logo_text a{
    color: white;
}

.header_nav{
    display: flex;
    align-items: center;
}

.nav_link:not(:last-child){
    margin-right: 40px;
}

.nav_link a{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
}

.nav_link a:hover{
    font-weight: 900;
}

.header_autorization{
    margin: auto 0;
}

.autorization_txt{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.basket_block{
    margin-left: 20px;
    position: relative;
}

.login-button{
    border: none;
    background: none;
    cursor: pointer;
}
/* конец шапки сайта */

main{
    background: #F0F5F9;
    height: auto;
    padding-top: 180px;
}

.backet-title{
    width: auto;
    display: flex;
}

.backet-title div{
    position: relative;
    padding: 15px;
}

.dish_count{
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
}

.basket-name{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.dish-icon_block{
    display: flex;
}

.dish-block img{
    width: 227.06px;
    height: 164.76px;
    margin-right: 40px;
    
}

.dish-block{
    display: flex;
    width: 750px;
    height: 260px;
    background: rgba(219, 163, 154, 0.5);
    border-radius: 50px;
    margin-bottom: 40px;
    align-items: center;
}

.dish-add-put{
    display: flex;
    align-items: center;
}

.dish-add{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #002060;
    color: white;
    line-height:40px;
    text-align: center;
    cursor: pointer;
}

#minus{
    margin-right: 15px;
}

#add{
    margin-left: 15px;
}

.btn-add{
    position: relative;
    display: inline-block;
    margin-bottom: 45px;
}

.bread{
    background: rgba(219, 163, 154, 0.7);
    border-radius: 0px 0px 50px 50px;
    overflow: hidden;
    height: 0;
    transition: height 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

.bread.visible{
    height: auto;
    height: 140px;
}

.add-bread-white{
    display: flex;
    justify-content: space-between;
}

.add-bread-white:not(:last-child){
    padding-top: 15px;
    margin-bottom: 15px;
}

.bread-text{
    padding-left: 15px;
}


.add-bread-white p{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    margin: auto 0;
}

.bread-add{
    width: 35px;
    height: 35px;
    background: #002060;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.bread-add-put{
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

#minus2{
    margin-right: 10px;
}

#add2{
    margin-left: 10px;
}

.add-bread{
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 30px;
    line-height: 20px;
    padding: 22px 45px;
    background: #002060;
    border-radius: 50px;
    color:white;
    cursor: pointer;
    border: none;
    transition: border-radius 0.5s ease-in-out;
}

.add-bread.active{
    border-radius: 50px 50px 0 0 ;
}

.payment{
    display: inline-block;
    background: rgba(219, 163, 154, 0.5);
    border-radius: 50px;
    width: 339px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.total-count{
    display: flex;
    justify-content: space-around;
    font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20px;
color: #333333;
opacity: 0.7;
margin-bottom: 15px;
}

.total-sum{
    display: flex;
    justify-content: space-around;
    font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 20px;
color: #333333;
margin-bottom: 40px;
}

.order_payments div:not(:last-child){
    text-align: left;
    margin-left: 50px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
margin-bottom: 10px;
}

.btn-payments{
    padding: 16px 29px;
    cursor: pointer;
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
background: #002060;
border-radius: 20px;
border: none;
color: white;
}

.radio{
    margin-bottom: 10px;
}

.order_payments div:last-child{
    margin-top: 20px;
}

.additional-ingridients div:not(:last-child){
    margin-top: 55px;
}

.additional-ingridients{
    margin-left: 60px;
    height: 100%;
    text-align: left;
    position: relative;
}

.sourceCream{
    display: flex;
    justify-content: space-between;
}

.sourceCream p{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: auto 0;
    padding-right: 10px;
}

.price-rezult{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    bottom: 10px;
}

.sourceCream:last-child{
    margin-top: 40px;
}

.footer_line{
    margin-top: 100px;
    width: 1200px;

}

footer{
    background: #F0F5F9;
}

.footer-info{
    padding-top: 65px;
}

.footer-info:not(:last-child){
    display: flex;
    justify-content: space-between;
}
.mail{
    background-image: url("../img/mail.svg");
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.phone{
    background-image: url("../img/phone.svg");
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.location{
    background-image: url("../img/location.svg");
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.logo-Knyginino{
    background-image: url("../img/logo_Knyginino.png");
    width: 780px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 10px;
}

.info-work{
    text-align: left;
}

.work-catchen{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
color: #333333;
}

.work-catchen:not(:last-child){
    margin-bottom: 26px;
}

.info-contacts{
    text-align: left;
}

.contacts{
    display: flex;  
}

.contacts:not(:last-child){
    margin-bottom: 26px;
}

.info-location{
    display: flex;
    margin-top: 45px;
}

.info-location p{
    margin: auto 0;
}