*{
    margin: 0;
    padding: 0;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Comfortaa', cursive;
    background: white;
}

/* начало шапки сайта */
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgba(159, 0, 61, 0.7);
    z-index: 10;
}

.container{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.header_content{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header_logo{
    display: flex;
    align-items: center;
}
.logo_img{
    width: 70px;
    margin: auto 0;
    height: 56px;
}

.img_Univer{
    background-image: url("../img/logo_Univer.png");
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
}

.logo_text{
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-left: 15px;
}

.header_nav{
    display: flex;
    align-items: center;
}

.nav_link:not(:last-child){
    margin-right: 40px;
}

.nav_link a{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
}

.nav_link a:hover{
    font-weight: 900;
}

.header_autorization{
    margin: auto 0;
}

.autorization_txt{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}
/* конец шапки сайта */


/* начало контента с банером */
.main_first-block{
    background-image: url("../img/bcg_fon-50.png");
    width: auto;
    height:100vh;
}

.first_block-content{
    position: relative;
    background-image: url("../img/bcg_fon-100.png");
    width: auto;
    height: 100%;
}

.tagline_banner{
    position: relative;
    width: auto;
    height: 400px;
    top: 30%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    margin-left: 10px;
    color: #FFFFFF;

}

.text_banner{
    position: absolute;
    opacity: 0;
    width: 700px;
    transition: opacity 1s ease-in-out;
}

.text_banner.active{
    opacity: 1;
}

.first_text-banner{
    margin-bottom: 30px;
}

.banner_block{
    position: absolute;
    right: 0;
    bottom: 5%;
}

.banner_block-relative{
    position: relative;
    width: 700px;
    height: 600px;
}

.banner_block-absolute{
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner_block-absolute.active{
    opacity: 1;
}

.banner-img{
    background-image: url("../img/salad.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-img2{
    background-image: url("../img/salad_ovosh-transformed.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    right: 0;
}

.block_price{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 10%;
    right: 8%;
    background: rgba(159, 0, 61, 0.7);
    align-items: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.block_price span{
    font-size: 48px;
    line-height: 58px;
}

.name_product{
    position: absolute;
    background: rgba(159, 0, 61, 0.7);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    padding: 18px 18px 18px 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    right: 8%;
    bottom: 5%
}
/* конец контента с банером */


/* начало контента с руководством по использованию */
.main_second-block{
    background-color:#F0F5F9;
    height: 100vh;
}

.second-block{
    text-align:left;
}

.block_questions{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    padding: 80px 0 50px 0;
}

.order_action{
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-column-gap: 80px;
    margin-bottom: 60px;
}

.card_action{
    text-align: -webkit-center;
}

.ellipse{
    width: 220px;
    height: 220px;
    background: #FFFFFF;
    border: 3px solid #002060;
    border-radius: 50%;
    line-height: 220px;
}

.ellipse img{
    display: inline-block;
    vertical-align: middle;
}

.text_action{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding-top: 30px;
}


.transition-menu{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.transition-menu:not(:last-child){
    margin-bottom: 80px;
}

.transition-text{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

.btn_transition{
    background: #002060;
    border-radius: 40px;
    padding: 26px 40px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.btn_transition a{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    font-style: normal;
    transition: font-weight 0.5s ease-in-out;
}

.btn_transition:hover{
    background-color: rgba(159, 0, 61, 0.7);
}

.btn_transition:hover a{
    font-weight: 900;
}

